<%= form_for(@occasion, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @occasion.errors.any? %>
    <div class='alert alert-danger alert-dismissable'>
      <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
      <h4><%= pluralize(@occasion.errors.count, 'error') %> prohibited this occasion from being saved:</h4>

      <ul>
      <% @occasion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :type_of_occasion, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field :type_of_occasion, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= f.label :day_of_occasion, class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= f.date_select :day_of_occasion, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= label_tag :giftee_name, 'Giving Gift To:', class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= select_tag :giftee_name, options_for_select(giftee_names), class: 'genForm_dropBox' %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-2 col-sm-10'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
